:root {
    --color-primary-hue: 172;
    --color-secondary-hue: 18;
    --color-black: hsl(var(--color-primary-hue) 10% 10%);
    --color-black-opaque: hsla(var(--color-primary-hue) 10% 10% / 0.9);
    --color-secondary: hsl(var(--color-secondary-hue) 84% 34%);
    --color-secondary-light: hsl(var(--color-secondary-hue) 81% 58%);
}